* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
}

.counter {
  width: 450px;
  height: 250px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-body div {
  margin: 30px 0px 15px;
}

.counter-body div button {
  width: 70px;
}

.counter-body button {
  font-size: 25px;
  font-weight: bold;
  background-color: #28803c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3px 0px;
  transition: all 0.3s;
}

.counter-value {
  margin: 0px 20px;
}

.counter-value.minus {
  background-color: crimson;
  color: #fff;
}

.counter-value.plus {
  background-color: #088e27;
  color: #fff;
}

.reset-btn {
  width: 130px;
  margin: 0px auto;
}

.counter-body button:active {
  scale: 0.94;
}
